<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label>
      First Name:
      <input type="text" formControlName="firstName">
    </label>
  
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <label>
      Mobile Number:
      <input class = "box" type="text" formControlName="phoneno" minlength="10" maxlength="10" required>
    </label>  
    <div *ngIf = "f.phoneno.errors" class="alert alert-danger">
        <p style = "float: left"*ngIf  = "f.phoneno.errors.required">10 digits required</p>
     </div>

     <label>
        Email Address: 
        <input class ="box" type="text" formControlName="email" placeholder="sample@123" required>
      </label>
        <div *ngIf = "f.email.errors" class="alert alert-danger">
          <p id="pemail2" *ngIf = "f.email.errors.email">Email must be valid</p>
        </div>
      
    <div formGroupName="address">￼
      <h3>Address</h3>
  
      <label id="lbl1">
        Street:
        <input type="text" formControlName="street">
      </label>
  
      <label id="lbl1">
        City:
        <input type="text" formControlName="city">
      </label>
      
      <label id="lbl1">
        State:
        <input type="text" formControlName="state">
      </label>
  
      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>
  
    <button id="submitbutton" type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

  
